/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Navbar CSS */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar-container{
    height: 53px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    z-index: 2;
    background-color: white;
    border-bottom: 0.5px solid lightgray;
}

.logo{
    display: flex;
}

.fa-search{
    padding-right: 10px;
}

.logo ul li{
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    float: left;
}

.logo ul li {
    color: #e82953;
    padding: 15px 20px; 
}

.brand-logo{
    /* margin-top: 3px; */
    margin-right: 10px;
    padding: 8px 0;
    margin-left: 15px;
    height: 38px;
}

.link-your-space{
    color: #52a2b1;
}

.nav li{
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    height:  100%;
    float: left;
    /* display: inline-block; ask why this take out my dropdown */
}

.dropdown-toggle:hover,
.session:hover{
    color: #e82953;
}

.link-your-space:hover{
    color: #39737e;
}

.nav li a{
    padding: 14px 15px;
    display: block;
}
 
.user{
    transform: translateX(-20%);
}

.u {
    border-left: 1px solid #dde0e6;
}
.header-dropdown{
    display: none;
    top: 100%;
    position: absolute;
    left: -1px;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    overflow: hidden;
}

.header-dropdown > li {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 16px;
}

.header-dropdown>li>a:hover{
    text-decoration: none;
    color: #e82953;
}

.header-dropdown>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.8;
    color: #6a707a;
    white-space: nowrap;
}

.show{
    display: block;
}



/* Log In / Sign Up   -- CSS */
.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: rgba(254,254,254,0.6);
}

.modal-content {
    position: absolute;
    width: 525px;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    border-radius: 10px;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.modal-banner {
    height: 50px;
    text-align: right;
    right: 100%;
}

.modal-banner button{
    cursor: pointer;
    padding-right: 0;
    font-size: 1.7em;
    color: #6a707a;
    position: absolute;
    top: 15px;
    right: 15px;
}

.text-center{
    height: 50px;
}

.text-center p{
    transform: translateY(75%);
}

.top-content{
    margin-bottom: 40px;
}

.fa-facebook{
    padding-right: 5px;
}

.top-content h3 {
    font-family: Avenir-Heavy,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 0px;
    color: #343840;
}

.top-content p {
    color: #6a707a;
    padding: 0px;
}

.btn-social-fb {
    background-color: #4267b2;
    color: #fff;
    font-size: 16px;
}

.session-login{
    background-color: #e82953;
    color: #fff;
    font-size: 16px;
}

.btn {
    width: 80%;
    font-size: 16px;
    line-height: 24px;
    font-family: Avenir-Heavy,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 8px 16px;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;
}


input[type='email'],
input[type='password'],
.signup-first-name,
.signup-last-name,
#jobTitle,
#companyName{
    display: block;
    width: 80%;
    height: 30px;
    text-align: left;
    padding: 6px 12px;
    margin: 10px;
    font-size: 16px;
    line-height: 1.8;
    color: #343840;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ced2da;
    border-radius: 5px;
    transform: translateX(7%);
}

.text-center-password {
    height: 100px;
}

.text-center-password p {
    font-size: 14px;
    transform: translateY(50%);
    padding-bottom: 10px;
    color: #6a707a;
}
.text-center-password p a {
    padding-left: 5px;
    color: #52a2b1;
}

.form-signup p{
    font-size: 12px;
    margin-left: 45px;
    text-align: left;
    color: red;
    transform: translateY(-50%);
    /* margin-bottom: 10px; */
}


/* Home Page CSS */

.search-event {
    display: flex;
    width: 100%;
    position: relative;
}

.left-side{
    float: left;
    width: 50%;
}

.right-side{
    float: right;
    width: 50%;
}

.right-side img{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 60vh;
}

.search-container {
    width: 60%;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    position: relative;
}

.search-container h1{
    font-weight: 400;
    color: #4b4b4b;
    font-size: 32px;
    margin-bottom: 8px;
}

.search-container p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}

.form-home-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.8;
    color: #343840;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ced2da;
    border-radius: 5px;
}

.form-home-search{
    width: 100%;
}

.where{
    width: 48%;
}
.when {
    width: 48%;
}

.search-input-container{
    display: flex;
    justify-content: space-between;
}

.btn-home-search {
    width: 40%;
    text-align: center;
    color: #fff;
    background-color: #e82953;
    border-color: #e82953;
}

.popular-activities {
    background-color: #f8f9fa;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.activities-collection {
    padding-top: 44px;
    width: 80%;
    max-width: 1200px ;
    margin: 0 auto;
    display: grid;
    grid-gap: 2vmin;
    grid-template-columns: repeat(3, 1fr);
}

.temp {
    width: 100%;
    height: 335px;
    background-color: #fff;
    cursor: pointer;
}

h2{
    font-family: Avenir-Heavy,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 32px;
    line-height: 40px;
    margin-top: 28px;
    margin-bottom: 32px;
    color: #4b4b4b;
}

h3{
    font-family: Avenir-Heavy,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #343840;
}

.text-center-title,
.caption {
    text-align: center;
    height: 20%;
}

.collection-image-container{
    height: 80%;
}

.collection-image{
    width: 100%;
    height: 100%;
}

.how-it-works-section {
    height: 400px;
    padding: 30px 25px 40px 25px;
    box-sizing: border-box;
}

.text-center-how-it-works{
    text-align: center;
    font-size: 20px;
    max-width: 900px;
    width: 885px;
    color: #4b4b4b;
    margin-left: auto;
    margin-right: auto;
}

.how-it-works-elements p{
    text-align: center;
    color: #4b4b4b;
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.how-it-works-elements i {
    text-align: center;
    color: #4267b2;
    width: 100%;
}

.special-left {
    width: 50%;
}

.left-side img{
    position: relative;
    width: 100%;
    height: 100%;
}

.special-events-section {
    max-height: 405px;
    display: flex;
    width: 100%;
    position: relative;
    background-color: #f8f9fa;
}

.special-search-container {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin-left: 87px;
    color: #343840;

}

.special-search-container h1{
    font-weight: 400;
    color: #4b4b4b;
    font-size: 32px;
    margin-bottom: 8px;
}

.special-search-container p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 24px;
}

.btn-special-search{
    max-width: 100px;
    padding: 8px 20px;
    line-height: inherit;
    text-align: center;
    color: #fff;
    background-color: #52a2b1;
    border-color: #52a2b1;
}

.container-fluid h3{
    display: inline-block;
    margin-right: 40px;
}

.btn-link-your-space{
    max-width: 120px;
    padding: 8px 20px;
    line-height: inherit;
    text-align: center;
    color: #fff;
    background-color: #52a2b1;
    border-color: #52a2b1;
}

.banner-section {
    padding-top: 30px;
    padding-bottom: 60px;
}

.container-fluid {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Footeer  */

.home-footer {
    min-height: 206px;
    background-color: #343840;
}

.footer-content{
    display: grid;
    grid-gap: 4vmin;
    grid-template-columns: repeat(3, 1fr);
}


.column {
    font-family: Avenir-Heavy,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.column h4{    
    color: #6a707a;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.column ul li{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.8;
}

.banner-fix{
    width: 100%;
    height: 80px;
}

.container-fluid-footer{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 60px;
    padding-bottom: 80px;
}

.footer-logo{
    height: 50px;
    padding-bottom: 20px;
}

.footer-left{
    width: 50%;
}

.footer-right{
    width: 50%;
}

.footer-left-container {
    padding-left: 50px;
    color: white;
}

.errors li{
    margin-left: 45px;
    text-align: left;
    color: red;
    padding-bottom: 20px;
}